<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.proprogrammar.service.hotwords.dao.mapper.MovieInfoMapper" >
  <resultMap id="BaseResultMap" type="com.proprogrammar.service.hotwords.dao.model.MovieInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="score" property="score" jdbcType="REAL" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="cover_url" property="coverUrl" jdbcType="VARCHAR" />
    <result column="cover_path" property="coverPath" jdbcType="VARCHAR" />
    <result column="types" property="types" jdbcType="CHAR" />
    <result column="regions" property="regions" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="name_en" property="nameEn" jdbcType="VARCHAR" />
    <result column="name_other" property="nameOther" jdbcType="VARCHAR" />
    <result column="introduce_url" property="introduceUrl" jdbcType="VARCHAR" />
    <result column="release_date" property="releaseDate" jdbcType="VARCHAR" />
    <result column="actor_count" property="actorCount" jdbcType="INTEGER" />
    <result column="vote_count" property="voteCount" jdbcType="INTEGER" />
    <result column="actors" property="actors" jdbcType="VARCHAR" />
    <result column="src" property="src" jdbcType="VARCHAR" />
    <result column="category_en" property="categoryEn" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="box_office_yuan" property="boxOfficeYuan" jdbcType="REAL" />
    <result column="box_office_dollars" property="boxOfficeDollars" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, score, rank, cover_url, cover_path, types, regions, name, name_en, name_other, 
    introduce_url, release_date, actor_count, vote_count, actors, src, category_en, category, 
    box_office_yuan, box_office_dollars, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from movie_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from movie_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.proprogrammar.service.hotwords.dao.model.MovieInfo" >
    insert into movie_info (id, score, rank, 
      cover_url, cover_path, types, 
      regions, name, name_en, 
      name_other, introduce_url, release_date, 
      actor_count, vote_count, actors, 
      src, category_en, category, 
      box_office_yuan, box_office_dollars, create_time, 
      modify_time)
    values (#{id,jdbcType=BIGINT}, #{score,jdbcType=REAL}, #{rank,jdbcType=INTEGER}, 
      #{coverUrl,jdbcType=VARCHAR}, #{coverPath,jdbcType=VARCHAR}, #{types,jdbcType=CHAR}, 
      #{regions,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{nameEn,jdbcType=VARCHAR}, 
      #{nameOther,jdbcType=VARCHAR}, #{introduceUrl,jdbcType=VARCHAR}, #{releaseDate,jdbcType=VARCHAR}, 
      #{actorCount,jdbcType=INTEGER}, #{voteCount,jdbcType=INTEGER}, #{actors,jdbcType=VARCHAR}, 
      #{src,jdbcType=VARCHAR}, #{categoryEn,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{boxOfficeYuan,jdbcType=REAL}, #{boxOfficeDollars,jdbcType=REAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.proprogrammar.service.hotwords.dao.model.MovieInfo" >
    insert into movie_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="coverUrl != null" >
        cover_url,
      </if>
      <if test="coverPath != null" >
        cover_path,
      </if>
      <if test="types != null" >
        types,
      </if>
      <if test="regions != null" >
        regions,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nameEn != null" >
        name_en,
      </if>
      <if test="nameOther != null" >
        name_other,
      </if>
      <if test="introduceUrl != null" >
        introduce_url,
      </if>
      <if test="releaseDate != null" >
        release_date,
      </if>
      <if test="actorCount != null" >
        actor_count,
      </if>
      <if test="voteCount != null" >
        vote_count,
      </if>
      <if test="actors != null" >
        actors,
      </if>
      <if test="src != null" >
        src,
      </if>
      <if test="categoryEn != null" >
        category_en,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="boxOfficeYuan != null" >
        box_office_yuan,
      </if>
      <if test="boxOfficeDollars != null" >
        box_office_dollars,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="score != null" >
        #{score,jdbcType=REAL},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="coverUrl != null" >
        #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="coverPath != null" >
        #{coverPath,jdbcType=VARCHAR},
      </if>
      <if test="types != null" >
        #{types,jdbcType=CHAR},
      </if>
      <if test="regions != null" >
        #{regions,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null" >
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="nameOther != null" >
        #{nameOther,jdbcType=VARCHAR},
      </if>
      <if test="introduceUrl != null" >
        #{introduceUrl,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null" >
        #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="actorCount != null" >
        #{actorCount,jdbcType=INTEGER},
      </if>
      <if test="voteCount != null" >
        #{voteCount,jdbcType=INTEGER},
      </if>
      <if test="actors != null" >
        #{actors,jdbcType=VARCHAR},
      </if>
      <if test="src != null" >
        #{src,jdbcType=VARCHAR},
      </if>
      <if test="categoryEn != null" >
        #{categoryEn,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="boxOfficeYuan != null" >
        #{boxOfficeYuan,jdbcType=REAL},
      </if>
      <if test="boxOfficeDollars != null" >
        #{boxOfficeDollars,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.proprogrammar.service.hotwords.dao.model.MovieInfo" >
    update movie_info
    <set >
      <if test="score != null" >
        score = #{score,jdbcType=REAL},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="coverUrl != null" >
        cover_url = #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="coverPath != null" >
        cover_path = #{coverPath,jdbcType=VARCHAR},
      </if>
      <if test="types != null" >
        types = #{types,jdbcType=CHAR},
      </if>
      <if test="regions != null" >
        regions = #{regions,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null" >
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="nameOther != null" >
        name_other = #{nameOther,jdbcType=VARCHAR},
      </if>
      <if test="introduceUrl != null" >
        introduce_url = #{introduceUrl,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null" >
        release_date = #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="actorCount != null" >
        actor_count = #{actorCount,jdbcType=INTEGER},
      </if>
      <if test="voteCount != null" >
        vote_count = #{voteCount,jdbcType=INTEGER},
      </if>
      <if test="actors != null" >
        actors = #{actors,jdbcType=VARCHAR},
      </if>
      <if test="src != null" >
        src = #{src,jdbcType=VARCHAR},
      </if>
      <if test="categoryEn != null" >
        category_en = #{categoryEn,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="boxOfficeYuan != null" >
        box_office_yuan = #{boxOfficeYuan,jdbcType=REAL},
      </if>
      <if test="boxOfficeDollars != null" >
        box_office_dollars = #{boxOfficeDollars,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.proprogrammar.service.hotwords.dao.model.MovieInfo" >
    update movie_info
    set score = #{score,jdbcType=REAL},
      rank = #{rank,jdbcType=INTEGER},
      cover_url = #{coverUrl,jdbcType=VARCHAR},
      cover_path = #{coverPath,jdbcType=VARCHAR},
      types = #{types,jdbcType=CHAR},
      regions = #{regions,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      name_en = #{nameEn,jdbcType=VARCHAR},
      name_other = #{nameOther,jdbcType=VARCHAR},
      introduce_url = #{introduceUrl,jdbcType=VARCHAR},
      release_date = #{releaseDate,jdbcType=VARCHAR},
      actor_count = #{actorCount,jdbcType=INTEGER},
      vote_count = #{voteCount,jdbcType=INTEGER},
      actors = #{actors,jdbcType=VARCHAR},
      src = #{src,jdbcType=VARCHAR},
      category_en = #{categoryEn,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      box_office_yuan = #{boxOfficeYuan,jdbcType=REAL},
      box_office_dollars = #{boxOfficeDollars,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>