<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="disappear.programmer.service.hotdata.dao.mapper.hotwords.MonthlyHotWordsMapper">
  <resultMap id="BaseResultMap" type="disappear.programmer.service.hotdata.dao.model.hotwords.MonthlyHotWords">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="news_link" jdbcType="VARCHAR" property="newsLink" />
    <result column="video_link" jdbcType="VARCHAR" property="videoLink" />
    <result column="image_link" jdbcType="VARCHAR" property="imageLink" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="src" jdbcType="VARCHAR" property="src" />
    <result column="keyword_english" jdbcType="VARCHAR" property="keywordEnglish" />
    <result column="src_name" jdbcType="VARCHAR" property="srcName" />
    <result column="month_end" jdbcType="DATE" property="monthEnd" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="video" jdbcType="VARCHAR" property="video" />
    <result column="month" jdbcType="TINYINT" property="month" />
    <result column="index" jdbcType="BIGINT" property="index" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="disappear.programmer.service.hotdata.dao.model.hotwords.MonthlyHotWords">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, keyword, news_link, video_link, image_link, link, src, keyword_english, src_name, 
    month_end, image, video, month, index
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from monthly_hot_words
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from monthly_hot_words
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="disappear.programmer.service.hotdata.dao.model.hotwords.MonthlyHotWords">
    insert into monthly_hot_words (id, keyword, news_link, 
      video_link, image_link, link, 
      src, keyword_english, src_name, 
      month_end, image, video, 
      month, index, description
      )
    values (#{id,jdbcType=BIGINT}, #{keyword,jdbcType=VARCHAR}, #{newsLink,jdbcType=VARCHAR}, 
      #{videoLink,jdbcType=VARCHAR}, #{imageLink,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{src,jdbcType=VARCHAR}, #{keywordEnglish,jdbcType=VARCHAR}, #{srcName,jdbcType=VARCHAR}, 
      #{monthEnd,jdbcType=DATE}, #{image,jdbcType=VARCHAR}, #{video,jdbcType=VARCHAR}, 
      #{month,jdbcType=TINYINT}, #{index,jdbcType=BIGINT}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="disappear.programmer.service.hotdata.dao.model.hotwords.MonthlyHotWords">
    insert into monthly_hot_words
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="keyword != null">
        keyword,
      </if>
      <if test="newsLink != null">
        news_link,
      </if>
      <if test="videoLink != null">
        video_link,
      </if>
      <if test="imageLink != null">
        image_link,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="src != null">
        src,
      </if>
      <if test="keywordEnglish != null">
        keyword_english,
      </if>
      <if test="srcName != null">
        src_name,
      </if>
      <if test="monthEnd != null">
        month_end,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="video != null">
        video,
      </if>
      <if test="month != null">
        month,
      </if>
      <if test="index != null">
        index,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="keyword != null">
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="newsLink != null">
        #{newsLink,jdbcType=VARCHAR},
      </if>
      <if test="videoLink != null">
        #{videoLink,jdbcType=VARCHAR},
      </if>
      <if test="imageLink != null">
        #{imageLink,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="src != null">
        #{src,jdbcType=VARCHAR},
      </if>
      <if test="keywordEnglish != null">
        #{keywordEnglish,jdbcType=VARCHAR},
      </if>
      <if test="srcName != null">
        #{srcName,jdbcType=VARCHAR},
      </if>
      <if test="monthEnd != null">
        #{monthEnd,jdbcType=DATE},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="video != null">
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="month != null">
        #{month,jdbcType=TINYINT},
      </if>
      <if test="index != null">
        #{index,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="disappear.programmer.service.hotdata.dao.model.hotwords.MonthlyHotWords">
    update monthly_hot_words
    <set>
      <if test="keyword != null">
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="newsLink != null">
        news_link = #{newsLink,jdbcType=VARCHAR},
      </if>
      <if test="videoLink != null">
        video_link = #{videoLink,jdbcType=VARCHAR},
      </if>
      <if test="imageLink != null">
        image_link = #{imageLink,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="src != null">
        src = #{src,jdbcType=VARCHAR},
      </if>
      <if test="keywordEnglish != null">
        keyword_english = #{keywordEnglish,jdbcType=VARCHAR},
      </if>
      <if test="srcName != null">
        src_name = #{srcName,jdbcType=VARCHAR},
      </if>
      <if test="monthEnd != null">
        month_end = #{monthEnd,jdbcType=DATE},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="video != null">
        video = #{video,jdbcType=VARCHAR},
      </if>
      <if test="month != null">
        month = #{month,jdbcType=TINYINT},
      </if>
      <if test="index != null">
        index = #{index,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="disappear.programmer.service.hotdata.dao.model.hotwords.MonthlyHotWords">
    update monthly_hot_words
    set keyword = #{keyword,jdbcType=VARCHAR},
      news_link = #{newsLink,jdbcType=VARCHAR},
      video_link = #{videoLink,jdbcType=VARCHAR},
      image_link = #{imageLink,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      src = #{src,jdbcType=VARCHAR},
      keyword_english = #{keywordEnglish,jdbcType=VARCHAR},
      src_name = #{srcName,jdbcType=VARCHAR},
      month_end = #{monthEnd,jdbcType=DATE},
      image = #{image,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      month = #{month,jdbcType=TINYINT},
      index = #{index,jdbcType=BIGINT},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="disappear.programmer.service.hotdata.dao.model.hotwords.MonthlyHotWords">
    update monthly_hot_words
    set keyword = #{keyword,jdbcType=VARCHAR},
      news_link = #{newsLink,jdbcType=VARCHAR},
      video_link = #{videoLink,jdbcType=VARCHAR},
      image_link = #{imageLink,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      src = #{src,jdbcType=VARCHAR},
      keyword_english = #{keywordEnglish,jdbcType=VARCHAR},
      src_name = #{srcName,jdbcType=VARCHAR},
      month_end = #{monthEnd,jdbcType=DATE},
      image = #{image,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      month = #{month,jdbcType=TINYINT},
      index = #{index,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>